.row-header {
  margin: 0px;
  padding: 20px 30px; }

.row-content {
  margin: 0px;
  padding: 50 0;
  border-bottom: 1px ridge;
  min-height: 400px; }

.navbar {
  background: #1b8585; }

.jumbotron {
  margin: 0px;
  padding: 70px 30px;
  background: #50c7c7;
  color: floralwhite; }

.carousel {
  background: #1b8585; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.footer {
  margin: 0px;
  padding: 30px 20px;
  background-color: #89e0e0; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }
